.page-head{
	    border-top:3px solid #E46045;     padding-bottom: 0;
}
.table>tbody>tr{
    background-color: #393E45
}
.table>thead>tr>th:first-of-type,.table>tbody>tr>td:first-of-type{
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
}

.table>thead>tr>th:last-of-type,.table>tbody>tr>td:last-of-type{
       border-top-right-radius: 4px;
       border-bottom-right-radius: 4px;
}

.table>thead>tr>th:nth-child(13),.table>tbody>tr>td:nth-child(13){
     border-right:1px solid #1D1F23;
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table>thead>tr>th:nth-child(15),.table>tbody>tr>td:nth-child(15){
     border-left:1px solid #1D1F23;
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
}
.table>thead>tr>th:nth-child(14),.table>tbody>tr>td:nth-child(14){
padding: 4px;
    background-color: #1d1f23;
}
.ShareBtn{
	padding:5px;   
}
.ShareBtn a p{
	padding: 5px;
    background: #E46045;
    min-width: 50px;
    color: rgb(233,233,233);
    border-radius: 4px; cursor: pointer;
}

.ShareBtn a p:hover{
	   background: #e24727;
}
.ShareBtn  .Ing{
	padding: 5px;
    border-radius: 4px; cursor: pointer;
}
.ShareBtn a .Ing:hover{
	    background: #1D1F23;
}
.submitBtn button{
	background-color: #E46045;
}
.submitBtn button:hover{
	background-color: #E24727
}



a:link { text-decoration: none;}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;} 
a:visited { text-decoration: none;}


.layui-layer{
    margin-left: -10px;
        margin-top: 10px;
}
.layui-layer-title{
  display: none;
}